:root{
	--speedlimit-width: 60px;
	--speedlimit-height: 60px;
	--speedlimit-border: 7px;
	--speedlimit-font-size: 30px;
	--speedlimit-font-weight: 800;
	--speedlimit-letter-spacing: -1px;
}


#speedlimit{
	position: fixed;
	bottom: 2vh;
	left: 2vw;
	top: 88vh;
	right: 85vw;
}
.speedlimit{
    background: white;
    position: fixed;

    width: var(--speedlimit-width);
    height: var(--speedlimit-height);
    border-radius: 50%;
    border-width: var(--speedlimit-border);
    border-style: solid;
    border-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--speedlimit-font-size);
    font-weight: var(--speedlimit-font-weight);
    color: #1f1f1f;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    transition: all .5s cubic-bezier(1, 0.08, 0.74, 1.27);
    letter-spacing: var(--speedlimit-letter-spacing);
    z-index: 3;
}

.speedlimit.active{
    pointer-events: auto;
    opacity: 1;
    transition: all 1s;
}

.speedlimit.flash{
	animation-name: flash;
	animation-iteration-count: 20;
	animation-duration: 0.1s;
}

.speedlimit.centerflash{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-width: 20px;
	font-size: 90px;
	font-weight: 2000;
	letter-spacing: -3px;
    animation-name: flash;
    z-index: 100;
    animation-iteration-count: 10;
    animation-duration: 0.1s;
}

@keyframes flash{
    0% {border-color: red;}
    20% {border-color: #006400;}
    40% {border-color: #FFFAF0;}
    50% {border-color: #7FFF00;}
    60% {border-color: #ADFF2F;}
    75% {border-color: #B22222;}
    90% {border-color: #4B0082;}
}


#speedmodal{
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	width: 100vw;
	height: 100vh;
	font-size: 13px;
	text-align: center;
	animation-name: flash;
	animation-iteration-count: 10;
	animation-duration: 0.1s;
	vertical-align: center;
	justify-content: center;
	align-content: center;
	display: none;
	opacity: 0.5;
	z-index: 2;
}

#speedmodal h2{
	font-size: 20px;
}

#speedmodal h4{
	font-size: 15px;
}

#speedmodal.active{
	transition: 1s;
	display: flex;
}


