.container{
	margin-top: 50px;
	margin-left: 50px;
	display: grid;
	grid-template-columns: repeat(1000, 500px);
	grid-template-rows: repeat(1000, 500px);
	grid-gap: 50px;
	justify-content: stretch;
	align-content: stretch;
	height: 10000vh;
	width: 10000vh;
}

.container-item{

	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background-color: #887423;
}
