body{
	font-family: Helvetica;
	background-color: black;
}

.container{
	margin-top: 100px;
	margin-left: 100px;
	display: grid;
	grid-template-columns: repeat(100, 500px);
	grid-template-rows: repeat(100, 500px);
	grid-gap: 50px;
	justify-content: stretch;
	align-content: stretch;
	height: 10000vh;
	width: 10000vh;
}

.container-item{
	margin-top: 50px;
	margin-left: 50px;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background-color: white;
	justify-content: center;
	align-content: center;
	text-align: center;
}


.container-item h1{
	color: black;
	text-align: center;
	vertical-align: center;
	font-size: 80px;
	font-weight: 700;
}
