.container{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.container-item{
	width: 200px;
	margin: 30px;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background-color: #887423;
}

.item-1{
	min-height: 200px;
}
.item-2{
	min-height: 200px;
}
.item-3{
	min-height: 400px;
}