:root{
	--body-color: #3cacbd;
	--div-color: #334e52;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: var(--body-color);
}


section {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 70px 15px;
	transition: transform 0.25s;
	will-change: transform;
}

section div {
	width: 100%;
	background-color: var(--div-color);
	height:500px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}