:root{
	--speedlimit-width: 60px;
	--speedlimit-height: 60px;
	--speedlimit-border: 7px;
	--speedlimit-font-size: 30px;
	--speedlimit-font-weight: 800;
	--speedlimit-letter-spacing: -1px;
}

.speedlimit{
    background: white;
    position: fixed;
    bottom: 16px;
    left: 32px;
    width: var(--speedlimit-width);
    height: var(--speedlimit-height);
    border-radius: 50%;
    border-width: var(--speedlimit-border);
    border-style: solid;
    border-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--speedlimit-font-size);
    font-weight: var(--speedlimit-font-weight);
    color: #1f1f1f;
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    transition: all .5s cubic-bezier(1, 0.08, 0.74, 1.27);
    letter-spacing: var(--speedlimit-letter-spacing);
    z-index: 3;
}

.speedlimit.active{
    bottom: 32px;
    pointer-events: auto;
    cursor: help;
    opacity: 1;
    transition: all 1s;
}

.speedlimit.flash{
	animation-name: flash;
	animation-iteration-count: 20;
	animation-duration: 0.1s;
}

.speedlimit.centerflash{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border-width: 20px;
	font-size: 90px;
	font-weight: 2000;
	letter-spacing: -3px;
    animation-name: flash;
    z-index: 100;
    animation-iteration-count: 10;
    animation-duration: 0.1s;
}

@keyframes flash{
    0% {border-color: red;}
    20% {border-color: #006400;}
    40% {border-color: #FFFAF0;}
    50% {border-color: #7FFF00;}
    60% {border-color: #ADFF2F;}
    75% {border-color: #B22222;}
    90% {border-color: #4B0082;}
}

.modal{
	display: block;
	position: fixed;
	background-color: #e6bba1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5%;
	border: 3px solid red;
	width: 90vh;
	height: 60vh;
	text-align: center;
	vertical-align: middle;
	opacity: 0;
	z-index: 2;
	animation-name: flash;
	animation-iteration-count: 10;
	animation-duration: 0.1s;
}

.modal.active{
	opacity: 1;
	transition: 1s;
}

.modalclose{
	position: absolute;
	top: -10px:
	right: 10px;
	width: 50px;
	height: 50px;
	background: #555;
	color: #f5f5f5;
	font-size: 25px;
	font-weight: 600;
	border-radius: 30%;
	cursor: pointer;
	z-index: 3;

}

.modal .modalheader{
	top:0;	
	padding: 30px 30px;
	text-align: center;
	font-size: 40px;
	color: white;

}

.modal .modalbody{

}

.modal .content-table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	text-align: center;
}

.modal .button button{
	margin: 10%;
	width: 80%;
	padding: 10px 10px;
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;

}

.modal .button button:hover{
	background-color: rgb(153, 131, 58);
}
