/******************/
/* Global Setting */
/******************/

* {
/*  box-sizing: border-box;*/
  margin: 0; padding: 0;
}

html, body {
    color: white;
    width: 100%; height: 100%;
    background-color: #202020;
    text-align: center;
}

header {
    width:100%; height:10%;
}

main {
    width:100%; height:80%;
}

footer {
    width:100%; height:10%;
}
/******************/
/* Header Setting */
/******************/
#title, #title:visited, #title:hover, #title:active{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-top: 2rem;
}

#title i{
    font-size: 1.2rem;
    margin-right: 0.25rem;
}

#title h2{
    display: inline;
    font-size: 1.2rem;
}

/******************/
/* Main Setting */
/******************/

.maxframe{
    width:80%; height:100%;
    display: inline-block;
    /* border : 1px solid pink; */
}

.maxframe img {
    position: absolute;
    top:0; bottom:0;
    left:0; right:0;
    margin: auto;
    max-width:80%;
    max-height: 80%;
}

/******************/
/* Footer Setting */
/******************/


#next_button {
    display: block;
    position: absolute;
    bottom:20px; right: 20px;

    width: 50px; height: 50px;
    border: 0;
    border-radius: 50%;

    transition: background-color .5s;
    background-color: rgb(51, 51, 51);
    color: white;

    cursor: pointer;
}

#next_button:focus{
    outline: none;
    box-shadow: 0 0 0 1px white;
    background-color: rgb(100, 100, 100);
}

#next_button.hovering {
    background-color: rgb(160, 160, 160);
}