body {
  background: rgb(40,40,40);
}


.logo {
  position: absolute;
  top:20px; left: 20px;

  font-family: Times;
  font-size: 25px;
  color: powderblue;

  cursor: pointer;
}

.logo > h1 {
  margin: 0px;
}


.frame {
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 200px);
  height: calc(100% - 200px);
  overflow: hidden;

  margin: 0px;
  /* border: 1px solid pink; */
  padding: 0px;
}

.frame img {
  display: block;

  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);

  object-fit: contain;

  /* border: 2px solid white; */
  z-index: 0;
}

.frame img:hover {
  border: 2px solid white;
  filter: brightness(0.5);
}


.artist {
  position: absolute;
  top:-50%; left:;

  z-index: 1;
}
