body {
  background: rgb(40,40,40);
}


.logo {
  position: absolute;
  top:20px; left: 20px;

  font-family: Times;
  font-size: 25px;
  color: powderblue;

  cursor: pointer;
}

.logo > h1 {
  margin: 0px;
}


.frame {
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 200px);
  height: calc(100% - 200px);
  overflow: hidden;

  margin: 0px;
  /* border: 1px solid pink; */
  padding: 0px;
}

.frame img {
  display: block;

  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);

  object-fit: contain;

  /* border: 2px solid white; */
  z-index: 0;
}

.frame > .button {
  display: none;

  background-color: transparent;
  border: 0;

  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 40px;

  cursor: pointer;
  transition: 1s;
}

.frame > .button:focus{
  background-color: gray;
}

.frame > #btn1 {left: calc(50% - 200px);}
.frame > #btn2 {left: calc(50%);}
.frame > #btn3 {left: calc(50% + 200px);}

.disappear {
  display: none;
}


.frame .result {
  display: none;

  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);

  font-size: 40px;
}

.artist, .title {
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
}
