/*h1 {
  font-family: cursive;
  font-variation-settings: 'wght' 800,'ital' 50, 'SPAC' 180;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}*/



.title h1 {
  font-family: cursive;
  font-weight: 100;
  text-align: center;
  font-size:40px;
  font-variation-settings: 'wght' 500, 'wdth' 85;
  animation: breathe 5000ms infinite forwards;
}

@keyframes breathe{
  0%{transform: scale(1);}
  20%{transform:scale(0.9);}
  50%{transform: scale(1.1);}
  90%{transform: scale(.3);}
  99%{transform:scale(.99);}
}

#name_grid {
  border: 5px solid black;
  border-left-style: hidden;
  border-right-style: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#intro_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.intro {
	text-align: center;

	
}

.name h2 {
  text-align: center;
  font-variation-settings: 'wght' 300, 'wdth' 85;
  font-size: 30px;
  margin: 5px;
  animation: rotate 32450ms linear 0s infinite;
}

.name h2:nth-child(3n+2){
	background-color: #049524;
}

#img_warhol {
	margin: 5px;
	text-align: center;
	animation: rotate 23333330ms infinite;
	opacity: 0.5;
	z-index: -1;
}

#img_warhol:hover::before {
	transition-duration: .25s;

}

#img_warhol:hover::after {
	opacity: 0.9;

}

@keyframes rotate{
  0%{transform: rotate(47deg);}
  100%{transform: rotate(330deg);}
}


a:link{
  text-decoration: none;
  color: aquamarine; 
}

a:visited{
  text-decoration: overline;
  color: rgb(64, 104, 81);
}

a:hover{
  text-decoration: underline;
  color:salmon;
}

