h1 {
  font-family: cursive;
  font-variation-settings: 'wght' 1000,'ital' 100, 'SPAC' 180;
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid gray;
  padding: 20px;
}

#name_grid {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.name h2 {
  text-align: center;
  font-variation-settings: 'wght' 300;
  margin: 5px;
}
