.frame {
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  border: 5px black solid;
  margin: 0px;
  padding: 0px;
}

.frame img{
  display: block;

  max-height: 700px;
  max-width: 1100px;
  object-fit: cover;

  opacity: 1;

  transition: opacity 1s;
}

.frame .blackpane {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 101%; height: 101%;

  background-color: rgba(0,0,0,0);
}
.frame .blackpane :hover {
  background-color: rgba(0,0,0,0.7);
  transform: translate(-50%, -50%);
}
