:root{
  --default-color: #242a34;
  --hover-color: #495f32;
  --fill-color: red;
}

nav {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: Helvatica;
}

li {
  display: inline;
  margin: 0 auto;
  border-left: 2px solid black;
  padding: 0 100px;
  position: relative;
  text-align: center;
}

li a {
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1.5px var(--fill-color);
  background: linear-gradient(var(--fill-color) 0 100%) right / 0 no-repeat;
  -webkit-background-clip: text;
  background-size: 100%;
  transition: 0.5s linear;
}

li a:hover {
  
  background-size: 0%;
}

li:hover {
  cursor: progress;
}

